<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CodePen - A Pen by Sergio V</title>
    <link rel="stylesheet" href="./style.css">

</head>

<body>
    <!-- partial:index.partial.html -->
    <form id="main" v-cloak>
        <div class="bar">
            <input type="text" v-model="searchString" placeholder="Введите название статьи" />
        </div>
        <ul>
            <li v-for="article in filteredArticles">
                <a v-bind:href="article.url"><img v-bind:src="article.image" /></a>
                <p>{{article.title}}</p>
            </li>
        </ul>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min
        .js"></script>
    <!-- partial -->
    <script src="./script.js"></script>

</body>

</html>